<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Akira - A evolução do atendimento em TI</title>
<!--favicon-->
<link rel="shortcut icon" href="{{url_for('static', filename='img/favicon.ico')}}" type="image/x-icon">
<!--{{url_for('static', filename='bootstrap.min.css')}}-->
<!--css-->
<link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap_alt.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='css/dataTables.bootstrap4.min.css')}}">
<link href="//cdn.jsdelivr.net/npm/@sweetalert2/theme-minimal/minimal.css" rel="stylesheet">
<!--javascript-->
<script src="{{url_for('static',filename='js/jquery.js')}}"></script>
<script src="{{url_for('static',filename='js/jquery.dataTables.min.js')}}"></script>
<script src="{{url_for('static',filename='js/dataTables.bootstrap4.min.js')}}"></script>
<script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@9/dist/sweetalert2.min.js"></script>
<script src="{{url_for('static',filename='js/fontawesome.js')}}"></script>
<!--final css/js-->
<link rel="stylesheet" href="{{url_for('static',filename='css/later.css')}}">
<script src="{{url_for('static',filename='js/main.js')}}"></script>